.contentEditable {
    height: 300px;
    width: 100%;
    padding: 0 8px;
    border: 1px solid grey;
}

.editor-placeholder {
  color: #999;
  overflow: hidden;
  position: absolute;
  top: 26px;
  left: 8px;
  user-select: none;
  pointer-events: none;
}

.editor-paragraph {
  margin: 0 0 15px 0;
  position: relative;
}

.editorWrapper {
    position: relative;
}

.toolbar-wrapper {
    display: flex;
}

.editor-list-ol-custom {
    padding-left: 12px;
}

.editor-list-ul-custom {
    padding-left: 12px;
}
